.MuiCard-root>.MuiCardActions-root>a{
    text-decoration: none;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem 1rem;
    border-radius: 3px;
}
.MuiCard-root>.MuiCardActions-root>a:hover{
    background-color: #2d6efc;
    color: white;
}