.carti-cont{
    margin-top: 1rem;
    padding: 1rem;
}
.carti-cont .img img{
    width: 15rem;
    height: 15rem;
}
.carti-cont .del{
    margin-left: 6rem;
}
.deleteButtonCart{
	padding: 0!important;
    list-style-type: none!important;
    right : 0;
    top : 19em;
    position:absolute;
    color: red;
    background-color: #b4b4b4;
    border-color: #232529;
    margin : 1em;
    border-radius: 1em;
}
.deleteButtonCart:hover{
	color:red;
	background-color: #0D1117;
	border-radius: 1em;
}
.fas{
	margin : 1em;
}