.MuiInput-underline:after{
    border-bottom: 2px solid #17c717;
}
.MuiFormGroup-root .MuiFormControlLabel-root .MuiCheckbox-colorPrimary.Mui-checked{
    color: #17c717;
}
.price{
    margin-bottom: 1.5rem;
}
.city{
    margin-bottom: 1.5rem;
}
.filter{
    margin-top: 2rem;
    margin-right: 0.2rem;
}