.footer{
    justify-content: space-around;
    background-color: #E0E0E0;
    padding: 2rem;
}
.footer-col{
    text-align: left;
}
.footer-col>h5{
    margin-left: 2.5rem;
}
.footer-links{
    list-style: none;
}
.footer-links>.footer-link>a{
    color: #636363;
}
.footer-links>.footer-link>a:hover{
    color: #86bc42;
    text-decoration: none;
}
