@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap');
.main-container {
    margin: 0;
    padding: 0;
}
.image-slider {
    margin-top: 1rem;
}
.carousel-inner img {
    width: 100%;
    height: 40rem;
}
.trending-products {
    margin-top: 2rem;
}
.trending-products > .heading {
    text-align: center;
}
.trending-products > .heading > hr {
    width: 7rem;
    background-color: orange;
    border: 1.5px solid orange;
}
.product-list > .product-links {
    text-align: center;
}
.product-list > .product-links > ul {
    text-align: center;
    list-style: none;
    display: flex;
    margin-left: 34rem;
}
.product-list > .product-links > ul > li {
    margin-right: 4rem;
}
.product-list > .product-links > ul > li > button {
    border: none;
    background-color: transparent;
    color: #4781ff;
}
.product-list > #products > .collapse > .product-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.our-category {
    margin-top: 5rem;
}
.our-category > .heading {
    text-align: center;
}
.our-category > .heading > hr {
    width: 7rem;
    background-color: orange;
    border: 1.5px solid orange;
}
.categories {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.categories > .single-category {
    text-align: center;
    align-content: center;
}
.review-section {
    margin-top: 5rem;
}
.review-section > .heading {
    text-align: center;
    margin-bottom: 4rem;
}
.review-section > .heading > hr {
    width: 7rem;
    background-color: orange;
    border: 1.5px solid orange;
}
.review-section
    > .review-slider
    > .carousel
    > .carousel-inner
    > .carousel-item {
    text-align: center;
}
.review-section
    > .review-slider
    > .carousel
    > .carousel-inner
    > .carousel-item
    > .review-profile {
    text-align: center;
}
.review-section
    > .review-slider
    > .carousel
    > .carousel-inner
    > .carousel-item
    > .review-profile
    > .avatar {
    width: 6rem;
    height: 6rem;
    margin-left: 44.5rem;
    margin-bottom: 1rem;
}
.review-section > .review-slider > .carousel > .carousel-indicators {
    position: unset;
}
.review-section > .review-slider > .carousel > .carousel-indicators > li {
    background-color: #86bc42;
}

.featured-container {
    margin: 2em 0;
    display: flex;
    flex-direction: row;
}
.custom-container {
    display: flex;
    flex-direction: row;
}

.custom-container-1 {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
}
.img-cont .row{
    width: 100%;
    margin: 0px;
}
.img-cont .row .col .carousel a{
    background-image: none;
}
.img-cont .row .col .carousel .carousel-inner .item .cards{
    display: flex;
}
.img-cont .row .col .carousel .carousel-inner .item .cards .card{
    width: 20rem;
    height: 20rem;
    margin-right: 2rem;
}
