@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.nav_body {
    width: 100%;
    background: #181a1b;
    color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}
.nav_body img {
    width: 10em;
    margin-bottom: 1em;
}
.nav_body a {
    color: white;
    text-decoration: none;
}
.nav_body a:hover {
    text-decoration: none;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    min-width: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: white;
    color: rgb(21, 226, 38);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.nav_options {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 1em;
    gap: 2em;
}
.nav_options a {
    display: flex;
    align-items: center;
}
.nav_a:hover {
    border-bottom: 2px solid white;
}
.dropbtn {
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.down {
    display: flex;
    align-items: flex-end;
    margin-left: 3px;
}
.nav_icon {
    display: flex;
    align-items: center;
    gap: 2em;
}
.search {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 15em;
}
.font {
    font-size: 1.4em;
}
