@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.main-container {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.image-slider {
    margin-top: 1rem;
}
.carousel-inner img {
    width: 100%;
    height: 30rem;
}
.trending-products {
    margin-top: 2rem;
}
.trending-products > .heading {
    text-align: center;
}
.trending-products > .heading > hr {
    width: 7rem;
    background-color: orange;
    border: 1.5px solid orange;
}
.product-list > .product-links {
    text-align: center;
}
.product-list > .product-links > ul {
    text-align: center;
    list-style: none;
    display: flex;
    margin-left: 34rem;
}
.product-list > .product-links > ul > li {
    margin-right: 4rem;
}
.product-list > .product-links > ul > li > button {
    border: none;
    background-color: transparent;
    color: #4781ff;
}
.product-list > #products > .collapse > .product-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.our-category {
    margin-top: 5rem;
}
.our-category > .heading {
    text-align: center;
}
.our-category > .heading > hr {
    width: 7rem;
    background-color: orange;
    border: 1.5px solid orange;
}
.categories {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}
.categories > .single-category {
    text-align: center;
    align-content: center;
} 
.featured-container {
    margin: 5em 0;
    display: flex;
    flex-direction: row;
}
.custom-container {
    display: flex;
    flex-direction: row;
}

.custom-container-1 {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
}
#img-slider .carousel-inner .carousel-item .items{
    display: flex;
    justify-content: space-around;
}
#img-slider .carousel-inner .carousel-item .items .item{
    width: 30rem;
    margin-right: 1rem;
}
#img-slider .carousel-inner .carousel-item .items .item img{
    height: 20rem;
    width: 100%;
}
.MuiBox-root .MuiTabs-root .MuiTabs-scroller .MuiTabs-flexContainer button{
    margin-right: 3rem;
}
.MuiBox-root .tb-panel .vege-items{
    display: flex;
    flex-wrap: wrap;
}
.MuiBox-root .tb-panel .vege-items .vege-item{
    width: 18rem;
    margin-right: 0.2rem;
    padding: 0.7rem;
}
.MuiBox-root .tb-panel .vege-items .vege-item img{
    width: 100%;
    height: 15rem;
    margin-bottom: 0.5rem;
}
.latest-arrivals {
    text-align: center;
    align-items: center;
}
.latest-arrivals hr{
    width: 7rem;
    background-color: orange;
    border: 1.5px solid orange;
}