@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.Top-bar>.logo{
    margin-left: 2rem;
    margin-top: -0.5rem;
    display: flex;
}
.Top-bar>.logo>p{
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.Top-bar>.logo>img{
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    border: 2px solid #6d6d6d;
    box-shadow: 0px 0px 3px 3px #d8d8d8;
}
.Top-bar>.Search-bar{
    margin-left: 16rem;
}
.Top-bar>.Search-bar>.input-group{
    border: 1px solid lightgrey;
    border-radius: 5rem;
}
.Top-bar>.Search-bar>.input-group>input{
    height: 3rem;
    width: 25rem;
    border-radius: 5rem;
    border: none;
    margin-left: 1rem;
    outline: none;
}
.Top-bar>.Search-bar>.input-group>button{
    height: 3.1rem;
    border-radius: 0rem 5rem 5rem 0rem;
    border: none;
    background-color: #17c717;
    color: white;
    padding: 0.5rem 1.5rem;
}
.Top-bar>.Profile{
    margin-top: 0.5rem;
    margin-left: 16rem;
    margin-right: 2rem;
    display: flex;
}
.Profile>a{
    color: black;
    text-decoration: none;
    margin-left: 1rem;
}
.Profile a .MuiSvgIcon-root{
    margin-top: 8px;
}
.Nav-links{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 255, .2);
}
.Nav-links>ul{
    display: flex;
    list-style: none;
    margin-bottom: 0;
}
.Nav-links>ul>li{
    margin-right: 0rem;
}
.Nav-links>ul>li:first-child{
    margin-left: 18rem;
}
.Nav-links>ul>li>a{
    padding: 0.9rem 5rem;
    text-decoration: none;
    color: #6d6d6d;
}
.Nav-links>ul>li>a:hover{
    background-color: #17c717;
    color: #ffffff;
}
