.order-item-container{
	display: flex;
	flex-direction: row;
}
.deleteButton{
	/* display: flex;
	margin-top: 8em;
	margin-right : 1em;
	font-size: larger; */
	padding: 0!important;
    list-style-type: none!important;
    position:absolute;
    bottom:0;
    right: 0;
    margin : 1em;
    color: red;
}
.deleteButton:hover{
	color:red
}