.card{
	cursor:pointer;
}
.card a{
	text-decoration: none;
	color : black;
}
.order-item-container{
	display: flex;
	flex-direction: row;
}
.deleteButton{
	padding: 0!important;
    list-style-type: none!important;
    position:absolute;
    bottom:0;
    right: 0;
    color: red;
    background-color: #b4b4b4;
    border-color: #232529;
    margin : 1em;
    border-radius: 1em;
}
.deleteButton:hover{
	color:red;
	background-color: #0D1117;
	border-radius: 1em;
}
.fas{
	margin : 1em;
}