.product-info{
    margin-bottom: 20rem;
}
.product-info>.product-img{
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    margin-left: 5rem;
}
.product-info>.product-img>img{
    width: 32rem;
    height: 100%;
}
.product-info>.product-details{
    margin-top: 2rem;
    margin-left: 2rem;
}
.product-info>.product-details>.quantity-selector{
    display: flex;
    align-content: center;
}
.product-info>.product-details>.quantity-selector>.MuiFormControl-root{
    margin-left: 2rem;
}
.product-info>.product-details>button{
    border: none;
    border-radius: 2px;
    background-color: #47d62a;
    color: white;
    margin-left: 2rem;
    padding: 0.5rem 1rem;
}
.product-info>.product-details>button:hover{
    background-color: #3bb123;
    padding: 0.6rem 1.1rem;
} 
