 #register {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
#register .modal-content {
    width: 50em;
    height: 45rem;
    border-radius: 25px;
    padding: 1rem;
}
#register .modal-body>form{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
#register .modal-body>form>.MuiFormControl-root{
    margin-bottom: 1.5rem;
}
