.signup-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: -2em;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-modal-content {
    background-color: rgba(255, 255, 255, 0.99999);
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    width: 50rem;
    height: 45rem;
    padding: 1em;
    border-radius: 25px;
    margin-top: 2rem;
}
.signup-modal-header {
    padding: 10px;
} */
.signup-modal-title {
    margin: 0;
}
.signup-modal-body {
    padding: 10px;
}
.signup-modal-body form h3{
    text-align: center;
}
.signup-modal-body form {
    display: flex;
    flex-direction: column;
}
.signup-modal-body form .MuiFormControl-root{
    margin-bottom: 1rem;
}
