.MuiTabs-root>.MuiTabs-scroller>.MuiTabs-flexContainer>a:hover,
.MuiTabs-root>.MuiTabs-scroller>.MuiTabs-flexContainer>a.active
{
    border-bottom: 2px solid #fd2d2d;
    text-decoration: none;
}
.MuiTabs-root>.MuiTabs-scroller>.MuiTabs-flexContainer {
    justify-content: center;
}
.makeStyles-root-1>.MuiAppBar-colorPrimary{
    background-color: #ffffff;
}
.MuiTabs-root>.MuiTabs-scroller>.MuiTabs-flexContainer>a{
    color: white;
}
